@media screen and (min-width: 567px) {
  .main-container {
    /* width: calc(var(--project-card-width) + (var(--project-card-marg) * 2) + 2px); */
    width: 567px;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    /* width: calc((var(--project-card-width) * 2) + (var(--project-card-marg) * 2 * 2) + 2px); */
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    /* width: calc((var(--project-card-width) * 3) + (var(--project-card-marg) * 2 * 3) + 2px); */
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    /* width: calc((var(--project-card-width) * 4) + (var(--project-card-marg) * 2 * 4) + 2px); */
    width: 1200px;
  }
}

.App {
}

.backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
  background-color: var(--purple);
  /* background-color: #fcfcfc; */
}

.main-container {
  margin: 0 auto;
  box-sizing: border-box;
}

.masthead {
  margin: 2rem var(--project-card-marg);
}

.search-field, .dropdown, .btn {
  -webkit-appearance: none;
}
