@media screen and (min-width: 567px) {
  .main-container {
    /* width: calc(var(--project-card-width) + (var(--project-card-marg) * 2) + 2px); */
    width: 567px;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    /* width: calc((var(--project-card-width) * 2) + (var(--project-card-marg) * 2 * 2) + 2px); */
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    /* width: calc((var(--project-card-width) * 3) + (var(--project-card-marg) * 2 * 3) + 2px); */
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    /* width: calc((var(--project-card-width) * 4) + (var(--project-card-marg) * 2 * 4) + 2px); */
    width: 1200px;
  }
}

.App {
  background-color: #fcfcfc;
}

.main-container {
  margin: 0 auto;
  box-sizing: border-box;
}

.search-field, .dropdown, .btn {
  -webkit-appearance: none;
}
