.page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  /* max-width: calc((var(--project-card-marg) * 6) + (var(--project-card-width) * 4)); */
}

.projects-container {}
