.page {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  /* max-width: calc((var(--project-card-marg) * 6) + (var(--project-card-width) * 4)); */
}

.no-projects-found {
  font-weight: lighter;
  letter-spacing: .07rem;
}
