.nav-container {
  text-align: center;
}

.prev-btn, .next-btn {
  margin: 0 .5rem;
}

.nav-list {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav-btn {
  display: inline;
  vertical-align: middle;
  border: none;
  margin: 0 .5rem;
  padding: 0;
  background: none;
  cursor: pointer;
  list-style-type: none;
  font-size: .8rem;
  font-weight: bold;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.nav-arrow {}

.nav-number {}
