.project-pop-up {
  position: absolute;
  top: 4rem; left: 0;
  z-index: 2;
  border-radius: 1px;
  border: 1px solid grey;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: var(--grey);
}

.project-pop-up > * {
  margin: 1rem;
}

.project-heading {
  position: relative;
}

.project-name {}

.close-project-btn {
  position: absolute;
  right: 0;
}

.project-content {
  text-align: left;
}

.memberImage {
  height: 75px; width: 75px;
}
